#mainbox{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centered-box{
    width: 1200px;
    height: 445px;
    display: flex;
    flex-wrap: wrap;
}




/*---------- box per l'immagine del carosello------ */

#box-mainpic{
    height: 445px;
    width: 1000px;
    position: relative;
}

.big-photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
}

.big-photo #didascalia{
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    display: none;
    text-align: right;
    padding: 20px;
}

#box-mainpic .choice img{
    display: block;
}

#box-mainpic .choice #didascalia{
    display: block;
}




/*---------- box per selezionare l'immagine------ */

#box-column{
    background-color: black;
    height: 445px;
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lil-photo{
    width: 100%;
    height: 20%;  
}

.lil-photo img{
    width: 100%;
    max-height: 100%;
    object-fit: cover; 
    opacity: 0.5;
}

#box-column .choice img{
    opacity: 1;
    outline: 3px solid rgb(240, 233, 233);
    outline-offset: -3px;  
}




/* ------------------ pulsanti ---------------- */

#swipe-up-button , #swipe-down-button{ 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    border: none;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}


#swipe-up-button{
    top: 10px;
}

#swipe-down-button{
    bottom: 10px;
}
